.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.spaceAround {
    width: 100%;
    justify-content: space-around;
}

body {
    background-color: #222;
    color: #ddd;
}

#scoreboard {
    /* align-items: stretch; */
    width: 480px;
    border-style: solid;
    margin: 0 8px;
}

#players . ,
#score . {
    width: 30%;
}

#matchResult,
#gameResult {
    height: 22px;
    margin-top: 16px;
    margin-bottom: 0;
}

#buttons {
    justify-content: center;
    gap: 32px;
}

.humanSelection {
    background-color: #111;
    color: #ddd;
    height: 96px;
    aspect-ratio: 1;
}

#resultsLeft . {
    text-align: right;
}

.textAlignRight {
    text-align: right;
}