.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.textAlignRight {
    text-align: right;
}

.spaceAround {
    width: 100%;
    justify-content: space-around;
}

body {
    background-color: #222;
    color: #ddd;
    font-size: 3.125vw;
}

#scoreboard {
    width: 93.75vw;
    border-style: solid;
    margin: 0 1.563vw;
}

#resultsMobile h2 {
    height: 1em;
    text-align: center;
}

#buttonHeader {
    margin-top: 0;
}

#buttons {
    justify-content: center;
    gap: 6.25vw;
}

.humanSelection {
    background-color: #111;
    color: #ddd;
    height: 18.75vw;
    aspect-ratio: 1;
    font-size: 3.125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

